body {
  height: 100vh;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: orangered;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

img:hover {
  opacity: 0.4;
}

@media (max-width: 980px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
